/Process.html
/Process.txt
/README.html
/README.txt
/autopkgtest.html
/autopkgtest.txt
/copyright-format-1.0.html
/copyright-format-1.0.txt
/debconf_specification.html
/debconf_specification.txt
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/debian-policy/
/debian/files
/menu-policy.html/
/menu-policy.txt
/perl-policy.html/
/perl-policy.txt
/policy.html/
/policy.txt
/upgrading-checklist.txt
/version.md
/version.xml
*-1.html
*.html.tar.gz
*.pdf
*.ps
*.validate
# list these individually for now, because there may be non-generated
# files in images/
images/install.png
images/install-conffiles.png
images/upgrade.png
images/remove.png
images/purge.png
images/remove-purge.png
images/install.svg
images/install-conffiles.svg
images/upgrade.svg
images/remove.svg
images/purge.svg
images/remove-purge.svg
