/Process.html
/Process.txt
/README.html
/README.txt
/autopkgtest.html
/autopkgtest.txt
/copyright-format-1.0.html
/copyright-format-1.0.txt
/debconf_specification.html
/debconf_specification.txt
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/debian-policy/
/debian/files
/menu-policy.html/
/menu-policy.txt
/perl-policy.html/
/perl-policy.txt
/policy.html/
/policy.txt
/upgrading-checklist.txt
/version.md
/version.xml
*-1.html
*.html.tar.gz
*.pdf
*.ps
*.validate
# list these individually for now, because there may be non-generated
# files in img/
img/install.png
img/install-conffiles.png
img/upgrade.png
img/remove.png
img/purge.png
img/remove-purge.png
img/install.svg
img/install-conffiles.svg
img/upgrade.svg
img/remove.svg
img/purge.svg
img/remove-purge.svg
