Source: debian-policy
Maintainer: Debian Policy List <debian-policy@lists.debian.org>
Uploaders:
 Andreas Barth <aba@debian.org>,
 Bill Allombert <ballombe@debian.org>,
 Jonathan Nieder <jrnieder@gmail.com>,
 Russ Allbery <rra@debian.org>,
Section: doc
Priority: optional
Build-Depends:
 debiandoc-sgml (>= 1.1.47),
 docbook-xml,
 docbook-xsl,
 ghostscript,
 libtext-multimarkdown-perl,
 libxml2-utils,
 links | elinks,
 opensp,
 texlive,
 texlive-latex-extra,
 tidy,
 xsltproc,
Standards-Version: 3.9.9
Vcs-Browser: https://anonscm.debian.org/git/dbnpolicy/policy.git
Vcs-Git: https://anonscm.debian.org/git/dbnpolicy/policy.git

Package: debian-policy
Architecture: all
Multi-Arch: foreign
Suggests:
 doc-base,
Description: Debian Policy Manual and related documents
 This package contains:
    - Debian Policy Manual
    - Filesystem Hierarchy Standard (FHS)
    - Debian Menu sub-policy
    - Debian Perl sub-policy
    - Debian configuration management specification
    - Machine-readable debian/copyright specification
    - Autopkgtest - automatic as-installed package testing
    - Authoritative list of virtual package names
    - Policy checklist for upgrading your packages
    - Paper about libc6 migration
 It also replaces the old Packaging Manual; most of the still-relevant
 content is now included as appendices to the Policy Manual.
